:root {
    --accent-color-main: #333333;
    --accent-color-orange: #FFA500;
    --accent-color-gray: gray;
    --accent-color-white: white;
    --accent-color-bg: #F2F2F2;
    --accent-color-card-bg: #fff;
    --accent-color-text-white: white;
    --accent-color-text-black: #333333;
    --accent-color-blue: #3081D0;
}
html, body {
    height: 100%;
    margin: 0;
    background-color: var(--accent-color-bg);
    min-height: 100%;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--accent-color-text-black);
}

#navbar {
    background-color: var(--accent-color-main);
    color: var(--accent-color-text-white);
    width: 100%;
}

#logo {
    width: 5em;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 3em;
    align-items: center;
}

.top-nav a {
    text-decoration: none;
    color: var(--accent-color-text-white);
}

.main-nav {
    padding: 0 10px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.main-nav li {
    padding: 1em 2em;
    width: 10%;
}

.main-nav li:hover {
    background-color: var(--accent-color-orange);
    font-weight: bold;

}

.main-nav a {
    text-decoration: none;
    color: var(--accent-color-text-white);
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}
.social img {
    width: 1.2em;
}
.social-connect {
    display: flex;
    align-content: space-between;
    gap: 0.5em;
}

#search-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em auto;
    justify-content: center;
    align-items: center;
}
#filter-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 1em;
    margin: 0 auto;
    background-color: var(--accent-color-white);
    padding: 2em;
    border-radius: 0.3em;
}

#search-bar {
    display: flex;
    height: 2em;
    width: 20%;
    background-color: var(--accent-color-gray);
    border-radius: 0.2em;
}

#search-bar img {
    height: 80%;
    margin: auto;
    flex: 10%;
}

#search-bar input {
    flex: 90%;
    background-color: var(--accent-color-white);
}

.filter-item {
    display: flex;
    gap: 0.2em;
    flex-direction: column;
    font-weight: lighter;
}
.filter-item select {
    width: 10em;
}

#search-button {
    background-color: var(--accent-color-orange);
    border: none;
    width: 10em;
    font-weight: bold;
    border-radius: 0.5em;
}
.footer {
  background-color: var(--accent-color-main);
  color: #E6F2FF;
  padding: 10px; /* Add padding for better spacing */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 600px) {
    .main-nav {
        padding: 0 10px;
        overflow: auto;
    }

    html, body {
        height: 100%;
        margin: 0;
        background-color: var(--accent-color-bg);
        min-height: 100%;
        box-sizing: border-box;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
    }

    #filter-container {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 1em;
        margin: 0 auto;
        background-color: var(--accent-color-white);
        padding: 2em;
        border-radius: 0.3em;
    }
}

/* main content below*/

main {
    margin: 0 auto;
    background-color: var(--accent-color-white);
    padding: 2em;
    width: 90%;
    min-height: 55%;
}

.property-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
    width: 100%;
}

.property-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color-card-bg);
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);
    border: solid 0.1em gray;
    transition: transform 0.3s ease-in-out;
    width: 30em;
}

.card-title {
    align-self: flex-start;
    margin: 0.1em 0.5em;
    font-weight: 600;
}

.property-inner-card {
    display: flex;
    width: 29em;
    height: 10em;
    padding-bottom: 0.5em;
    background-color: var(--accent-color-card-bg);
}
.property-description-card {
    display: flex;
    flex-direction: column;
    flex: 50%;
    background-color: var(--accent-color-card-bg);
}

.property-image-card {
    flex: 50%;
    position: relative;
}

.property-image-card img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.property-image-card .image-label {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--accent-color-text-white);
    background-color: var(--accent-color-orange);
    padding: 0.2em;
    border-radius: 0.1em;
    margin: 0 0.1em 0.1em 0;
}

.price-tag {
    background-color: var(--accent-color-blue);
    margin: 0;
    padding: 0.5em;
    color: var(--accent-color-text-white);
}

.property-description {
    margin: 0;
    padding: 0.5em;
    overflow: hidden;
    font-size: smaller;
}
.property-more-details {
    margin: 0;
    padding: 0.5em;
    font-size: smaller;
    font-weight: bolder;
    position: relative;
}

.property-more-details a {
    text-decoration: none;
    color: var(--accent-color-orange)
}

.property-more-details a::after {
    content: ' →';
    display: inline-block;
    margin-left: 0.2em;
}

h1, h2 {
    text-align: center;
}

/*extra*/

/* static/css/messages.css */
.messages li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.messages .success {
    color: green;
    background-color: #d9f9d9;
}

.messages .error {
    color: red;
    background-color: #ffd6d6;
}

.messages .invalid-form {
    color: orange;
    background-color: #ffe8cc;
}

